{% extends 'help/layout.html.twig' %}

{% block content %}
    <h5 class="card-title">{{ 'gen_time_sheet'|trans }}</h5>

    <p class="card-text">
        {{ 'gen_time_sheet_msg_one'|trans }}
        <br>
        {{ 'gen_time_sheet_msg_two'|trans }}
{% endblock %}
