<div class="card rdi-card-icon rdi-help-text border-info text-info mb-4" data-help-id="{{ _helpText.id }}">
    <i class="fa fa-info" aria-hidden="true"></i>
    <div class="card-body">
        {% block content %}
        {% endblock %}

        <a href="#" class="btn btn-outline-info rdi-help-text-ack">{{ 'understandString'|trans }}</a>
    </div>
</div>
