{% extends 'help/layout.html.twig' %}

{% block content %}
    <h5 class="card-title">Saisie de vos absences</h5>

    <p class="card-text">
        Vous pouvez ici indiquer les jours où vous avez été absent ou en demi-journée.
        <br>
        Par défaut, si vous ne validez pas, vous êtes considérés comme présent tout le mois.
    </p>
{% endblock %}
