{% block temps_passe_row %}
    <div class="row">
        <div class="col">
            {{ form.vars.data.projet.titre}}
        </div>
        <div class="col">
            {{ form_errors(form.children.pourcentage) }}
            {{ form_widget(form.children.pourcentage) }}
        </div>
        <div class="col">
            %
        </div>
    </div>
{% endblock %}
