{% if customText is defined and customText is not empty %}
    <p>
        {{ customText|nl2br }}
    </p>
{% endif %}
<p>
    RDI-Manager permet de gérer simplement vos projets de recherche et d'innovation.
</p>
<p>
    Voir la vidéo de présentation :
    <a href="https://www.youtube.com/watch?v=LQyvP796M6U" target="_blank">https://www.youtube.com/watch?v=LQyvP796M6U</a>
</p>
<p>
    Voilà l'accès public à la démo :
</p>
<p>
    <strong>Url</strong> :
    <a href="{{ rdiManagerDemoUrl }}" target="_blank">{{ rdiManagerDemoUrl }}</a>
    <br>
    <br>
    <strong>Accès adminitrateur</strong>
    <br>
    login : <code>admin@societe.dev</code>
    <br>
    mot de passe : <code>admin</code>
    <br>
    <br>
    <strong>Accès chef de projet</strong>
    <br>
    login : <code>cdp@societe.dev</code>
    <br>
    mot de passe : <code>cdp</code>
    <br>
    <br>
    <strong>Accès utilisateur</strong>
    <br>
    login : <code>user@societe.dev</code>
    <br>
    mot de passe : <code>user</code>
</p>
