{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}RDI-Manager – Echéance de tâche{% endblock %}
{% block body %}
    <row>
        <columns>
            <p>Bonjour,</p>

            <p>
                La date d'échéance de la tâche <strong>{{ projetPlanningTask.text }}</strong> du projet <strong>{{ projet.titre }}</strong> arrive dans {{ projet.nbrDaysNotifTaskEcheance }} jours.
            </p>
            <p>
                Pensez à gérer son avancement, car vous y êtes affecté.
            </p>
        </columns>
    </row>
{% endblock %}
