{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}Date d'échéance d'une tâche est dans 3 jours{% endblock %}
{% block body %}
    <row>
        <columns>
            <p>
                La date d'échéance de la tâche <strong>{{ projetPlanningTask.text }}</strong> du projet <strong>{{ projet.titre }}</strong> est dans {{ projet.nbrDaysNotifTaskEcheance }} jours.
            </p>
        </columns>
    </row>
{% endblock %}
