{% extends 'mail/layouts/base_mail.html.twig' %}

    {% block title %}Réinitialisation de votre mot de passe RDI-Manager{% endblock %}
    {% block body %}
        <row>
            <columns>
                <p>
                    Vous avez demandé un lien de réinitialisation de votre mot de passe.
                </p>
                <p>
                    Suivez ce lien pour définir votre nouveau mot de passe :
                    <button href="{{ url('app_fo_reset_password', {'token': user.resetPasswordToken}) }}" class="large expanded">Définir mon nouveau mot de passe</button>
                </p>
            </columns>
        </row>
    {% endblock %}