{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}L’espace RDI-Manager de votre société a été désactivé{% endblock %}

{% block body %}
    <row>
        <columns>
            <p>Bonjour,</p>
            <p>
                En qualité d’administrateur de l’espace RDI-Manager de la société {{ societe.raisonSociale }}, vous êtes
                informé que
                votre espace RDI a été désactivé et que plus aucun de vos utilisateurs ne pourra accéder à la société.
            </p>

            <p>
                Conformément aux conditions générales de vente et d’utilisation de la plateforme, vos données seront
                conservées pendant une période d’au moins un an au cours de laquelle vous pourrez demander à les
                récupérer numériquement. Au terme de cette période, l’espace de votre société, ainsi que les données
                associées seront automatiquement mis dans le workflow de suppression définitive de la plateforme.
            </p>

            <p>
                Vous pouvez à tout moment contacter le service client RDI-Manager durant la période de carence d’un an
                pour réactiver votre espace.
            </p>
            <br>

            <button onclick="location.href='mailto:{{ rdi_mail_address }}?subject=Société {{ societe.raisonSociale }} | Réactivation Espace RDI';">Réactiver
                votre espace RDI-Manager
            </button>
        </columns>
    </row>
{% endblock %}
