{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}L’espace RDI-Manager de votre société a été réactivé{% endblock %}

{% block body %}
    <row>
        <columns>
            <p>Bonjour,</p>

            <p>
                En qualité d’administrateur de l’espace RDI-Manager de la société {{ societe.raisonSociale }}, vous êtes informé que
                votre espace RDI a été réactivé. Vos utilisateurs peuvent à nouveau accéder à la société via leur compte
                RDI-Manager et contribuer ainsi à la gestion collaborative de vos projets.
            </p>
        </columns>
    </row>
{% endblock %}
