{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}Fin de l’offre d’essai RDI-Manager pour votre société{% endblock %}

{% block body %}
    <row>
        <columns>
            <p>Bonjour,</p>

            <p>
                En qualité d’administrateur de l’espace RDI-Manager de la société {{ societe.raisonSociale }}, vous êtes
                informé de la fin de votre période d’essai sur la plateforme. Jusqu’ici vous bénéficier de l’Offre
                Premium RDI ; vous allez être automatiquement basculé sur l’Offre Starter RDI.
            </p>

            <p>
                Il s’agit d’une offre gratuite, limitée en fonctionnalités ; qui reste cependant adaptée aux jeunes
                pousses en phase de lancement.
            </p>

            <p>
                Vous pouvez à tout moment contacter le service client RDI-Manager pour réajuster votre offre et profiter
                pleinement du potentiel de RDI.
            </p>
            <br>

            <button onclick="location.href='mailto:{{ rdi_mail_address }}?subject=Société {{ societe.raisonSociale }} | Mise à jour offre RDI';">
                Contactez le service client RDI-Manager
            </button>

            <br>
            <hr>
            <br>

            <p><strong>Vous avez des questions particulières ?</strong></p>
            <p>
                Vous pouvez joindre notre service commercial par téléphone au + 33 1 30 50 13 49 du lundi au vendredi de
                9h à 18h. Vous pourrez y discuter de votre utilisation et de votre structure afin d’identifier l’offre
                la plus adaptée pour vous.
            </p>
            <p>
                Consulter notre documentation <a href="https://rdimanager.com/pages/cgv.html">CGU-CGV</a>
            </p>
        </columns>
    </row>
{% endblock %}
