{% extends 'corp_app/base.html.twig' %}

{% block title %}Réinitialisation de mot de passe | {{ parent() }}{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Réinitialisation de mot de passe</h1>

        <p>
            Vous pouvez changer votre mot de passe
            en demandant de recevoir un lien de réinitialisation
            à l'email de votre compte RDI-Manager.
        </p>

        <h2>Email de votre compte RDI-Manager</h2>

        {{ form(form) }}
    </div>
</div>

{% endblock %}
