{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe | {{ parent() }}{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Réinitialisation de mot de passe</h1>

        <p>
            Bonjour {{ user.fullname }}, vous pouvez maintenant définir votre nouveau mot de passe.
        </p>

        <h2>Votre nouveau mot de passe</h2>

        {{ form(form) }}
    </div>
</div>

{% endblock %}
