# Read the documentation at https://github.com/thephpleague/flysystem-bundle/blob/master/docs/1-getting-started.md
parameters:
    filesAvatarDir: '%kernel.project_dir%/public/avatar'
    filesAvatarUri: '/avatar/'
    projectFileStorageUri: '%kernel.project_dir%/var/storage/default/uploads'
    etudeFileStorageUri: '%kernel.project_dir%/var/storage/default/uploads/lab/'
    defaultEtudeBannerUri: '/build/assets/img/default-etude-banner.jpg'
    licensesStorageUri: '%kernel.project_dir%/var/storage/licenses'

flysystem:
    storages:
        avatar.storage:
            adapter: local
            options:
                directory: '%filesAvatarDir%'
        projectFiles.storage:
            adapter: local
            options:
                directory: '%projectFileStorageUri%'
        etudeFiles.storage:
            adapter: local
            options:
                directory: '%etudeFileStorageUri%'
        licenses.storage:
            adapter: local
            options:
                directory: '%licensesStorageUri%'
