#recents-projets-menu{
    
    #btnFilter{
        display: flex !important;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd !important;
        border-radius: 6px !important;
        padding: 0 12px !important;
        height: 40px !important;

        &:focus, &.focus{
            box-shadow: none !important;
        }
        i{
            font-size: 1.2rem !important;
        }
    }
    .dropdown-menu{
        padding: 10px;
        top: 33px !important;
        left: 83px !important;

        #whiteSquare {
            position: absolute;
            top: -3px;
            right: 0;
            height: 10px;
            width: 79px;
            background: #fff;
        }

        .form-check{
            margin: 5px;
            white-space: nowrap;
        }
    }
}
.slick-carousel{

    .slick-list{
        padding: 10px 11px 10px 10px;
    }

    .slick-arrow:before{
        color: #000000ab !important;
    }

    .slick-track{
        display: flex !important;

        .card-actualite{

            height: inherit !important;
            display: flex;
            flex: 1 0 auto;
            flex-direction: row;
            justify-content: start;
            align-content: start;
            padding: 13px;
            margin: 0 10px;

            .card-side{
                padding: 0 10px 0 0;

                .fa-exclamation-circle{
                    font-size: 1.2rem;
                }
            }

            .card-body{
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                overflow-wrap: anywhere;
                font-size: 1rem;

                .card-title{
                    font-size: 1.2em;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .fa{
                        padding: 0 7px;
                    }

                    small{
                        font-size: 0.7em;
                    }
                }

                .list-unstyled{
                    margin: 0;
                    font-size: 0.85em;
                }
            }
        }
    }
}



