<div class="calmonth-row">
    <p>lun</p>
    <p>mar</p>
    <p>mer</p>
    <p>jeu</p>
    <p>ven</p>
    <p>sam</p>
    <p>dim</p>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
<div class="calmonth-row">
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
    <button class="btn btn-jour btn-secondary btn-block" disabled><span>&nbsp;</span></button>
</div>
