<div class="message-validation text-center">
    {% if submitted %}
        <p class="text-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Vous avez validé ce mois le {{ modifiedAt|format_date }}.
        </p>
    {% endif %}

    {% if moisEntree is not null and mois < moisEntree %}
        <p class="text-danger">
            <i class="fa fa-user-times" aria-hidden="true"></i>
            Ce mois-ci, vous n'êtes pas encore dans la société.
        </p>
    {% elseif moisSortie is not null and mois > moisSortie %}
        <p class="text-danger">
            <i class="fa fa-user-times" aria-hidden="true"></i>
            Ce mois-ci, vous n'êtes plus dans la société.
        </p>
    {% elseif not submitted and currentOrPreviousMonth(cra.mois) %}
        <p class="text-warning">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Vous devriez valider ce mois.
        </p>
    {% endif %}
</div>
