.dhx_multi_select_control {
    padding: 5px 0 0 10px;
}
.dhx_multi_select_control input {
    vertical-align: middle;
    top: -1px;
}
.dhx_multi_select_control label {
    margin-right: 12px;
}
.dhx_agenda_line div{
    width: 300px;
}
.dhx_v_border{
    left: 299px;
}
.container_event_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.container_event_text .links_event_text{
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.dhx_cal_tab.export_agenda_tab{
    width: auto;
}
.dhx_ics_calendar_btn_set{
    background-color: #9FC437;
    color: white;
}