.pdf-page {
    page-break-after: always;
}
@media screen {
    .pdf-page {
        border-bottom: 1em solid rgba(0, 0, 0, 0.1);
        margin-bottom: 2em;
        padding-bottom: 2em;
    }
}

.rdi-cra-col {
    min-width: 2.3em;
}
.rdi-cra-value {
    font-size: 0.9em;
}
.lead strong {
    font-weight: bold;
}
