{% if faitMarquant.trashedAt is not null %}
    <span class="badge badge-danger">Supprimé</span>
{% else %}
<form
    method="post"
    action="{{ path('corp_app_fo_fait_marquant_delete', {'id': faitMarquant.id}) }}"
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fait marquant ?');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faitMarquant.id) }}">
    <button class="btn btn-outline-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Supprimer
    </button>
</form>
{% endif %}