@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

.gantt_tooltip{
    max-width: 30rem;
    height: auto;
    white-space: unset;
}

.landing-view-demo{
    min-height: 641px;
}

.demo-main-container{
    height: 641px;
    z-index: 4; /* for fullscreen mode of gantt*/
}
.demo-main-content{
    height: calc(100% - 41px);
    background: #fff;
}

.gantt-advantage-col-1 .container-img,
.gantt-advantage-col-2 .container-img {
    max-width: 182px;
    margin: 0 auto;
}

.gantt-demo-header{
    border-top: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.gantt-controls {
    background-color: #f5f5f5;
    font-size:14px;
    list-style-type: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gantt-menu-item {
    display:inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: relative;
    overflow: visible;
    /*padding:0 10px;*/
}

.gantt-menu-item-right {
    float: right;
}

.gantt-menu-item img {
    margin-right: 8px;
    vertical-align: middle;
}

.gantt-menu-item a {
    display: block;
    cursor: pointer;
    color: #3d3d3d !important;
    text-align: center;
    line-height: 40px;
    padding:0 10px;
    text-decoration: none;
}

.gantt-menu-item a:hover {
    background-color: #e2e2e2;
}

.gantt-menu-item a[data-action="myTasksFilter"] i {
    font-size: 1.4em;
    vertical-align: middle;
    color: rgb(117,117,117);
    margin-right: 0.3em;
}

.gantt-controls .gantt-controls{
    display: none;
}
.gantt-menu-item:hover .gantt-controls{
    display: block;
    left:0;
    padding: 5px 0;
    position: absolute;
    top:41px;
    z-index: 1;
}

.gantt-menu-item .menu-item-active{
    background-color: #dadada !important;
}

.gantt-menu-item .menu-item-disabled{
    color: #818181 !important;
    pointer-events:none;
}

.gantt-menu-item:hover .gantt-controls li{
    width:100%;
}
.gantt-menu-item:hover .gantt-controls a{
    white-space: nowrap;
    text-align: left;
}

.gantt-menu-item:hover .gantt-controls::before{
    position: absolute;
    top:-7px;
    width:100%;
    content:" ";
    height:10px;
    background: transparent;
    left:0;
    z-index: 1;
}

.gantt-menu-item-last {
    border-right: 1px solid #cecece;
}

.gantt_grid_head_cell.gantt_grid_head_add{
    visibility: hidden !important;
}

.status_line{
    background-color: #0ca30a;
}


.gantt_grid_wbs{
    position: absolute;
}

.gantt_grid_scale{
    position: relative;
    z-index: 1;
}



.dnd_highlighter {
    position: absolute;
    height: 4px;
    width: 500px;
    background-color: #3498db;
}
.dnd_highlighter::before{
    background: transparent;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 3px solid #3498db;
    border-radius: 6px;
    content: "";
    line-height: 1px;
    display: block;
    position: absolute;
    margin-left: -11px;
    margin-top: -4px;
}
.gantt_bar_task.lot_level {
    background-color: rgba(2, 136, 209, 0.7)  !important;
}
.gantt_bar_task.lot_level .gantt_task_progress{
    background-color: rgb(2, 136, 209) !important;
}
.gantt_bar_task.task_level{
    background-color: rgba(15, 196, 167, 0.7)  !important;
}
.gantt_bar_task.task_level .gantt_task_progress{
    background-color: rgb(15, 196, 167) !important;
}
.gantt_bar_task.subtask_level {
    background-color: rgba(255, 87, 34, 0.7)  !important;
}
.gantt_bar_task.subtask_level .gantt_task_progress {
    background-color: rgb(255, 87, 34) !important;
}

.hide_progress_drag .gantt_task_progress_drag{
    display:none !important;
}

.gantt_tooltip {
    font-size: 14px;
    line-height: 120%;
    border-bottom:1px solid #b3b3b3;
    border-right:1px solid #b3b3b3;
    border-color: #b3b3b3;
}

.gantt_drag_marker{
    opacity: 0.6;
}

.gantt_drag_marker.gantt_grid_resize_area{
    z-index: 1;
}

.gantt_parent_row{
    font-weight: bold;
}

.gantt_task_line div.gantt_side_content{
    bottom: 0;
}

.gantt-top-panel{
    position: relative;
    color: #fff;
    padding: 11px 16px;
    background: #3d3d3d;
}

.gantt-top-panel__btn{
    display: inline-block;
    color: #fff;
    padding: 7px 24px;
    text-decoration: none;
    border-radius: 20px;
    background: #2095f3;

    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -16px;
}

.gantt-top-panel__btn:hover{
    background: #03a9f4;
}

.gantt-top-panel__btn:focus{
    outline: none;
}

.gantt-top-panel__btn:active{
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
}
.salesforce-banner {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.salesforce-banner__link {
    color: #03a9f4;
    font: inherit;
    transition: color .2s ease-in-out;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
}
.salesforce-banner__link:hover {
    color: #2095f3;
}
.salesforce-banner__link:after {
    content: "\00a0\003e";
    display: inline-block;
    transition: transform .2s ease-in-out;
}
.salesforce-banner__link:hover:after {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

#project_planning_content{
    min-height: 600px !important;
    height: 100%;
    width: 100%;
}

.lot_level .gantt_tree_icon.gantt_folder_closed, .lot_level .gantt_tree_icon.gantt_folder_open, .lot_level .gantt_tree_icon.gantt_file, .planning-task-affectation-participants .level_0 .picto-img {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACMVBMVEUAAACqq6v///83NzctLSw9PT3Ky8twcHCOjo5xcXF1dnZwcHAnKCgzMzMvLy82NjY3Nzc7PDxlZWUsLCw6OjowMTEdHR0ZGBjFxcWioqJGR0e4uLhfX1/T1NR4eHg0MzOmpqabnJy7vLz///9GRkYlJSVHR0eioqFFRUUiIiIICAhCQkKjo6Nvb28kJCQICAg/QD+NjY1tbW0lJSUkJCRxcXFtbW1xcXFAQEAcHBwgICCAgYH+//+jo6OsrKz///83NzciIiImJiZAQEBBQUEbGxuCg4P///+RkpJEREREREScnJw8PDwfHx8HBwccHBw/QEBcXFyRkpH09fWUlZVBQkI/Pz+fn56hoaEgICAHBwcZGhpZWlr///////+Pj49CQkJBQUGenp66urpGR0eSkpL///9eXl4kJCQmJiZxcXGkpKRCQkIjIyOIiIj///+CgoJTVFRJSUkgICAkJCRYWFikpKRDQ0InJyeKior///+MjIxAQEAfHx88PDxHR0chISEmJiZYWFiSkpJ9fHz4+PiNjY0+Pj4aGho7OztUVFRiYmKfn59BQUEaGxtFRUW0tLRJSUknJydeXl6pqqpFRUUmJiZfX1+oqKhHR0cqKipeXl7///+rq6uAgYECAgIAAAADAwMCAgICAgIiIiICAgIFBQUCAgICAgIFBQUDAwMEBAQkJCQCAgIBAQEDAwMCAgIBAQEFBQUCAgIFBQUCAgIDAwMBAQEDAwMBAQH///8qqhRmAAAAn3RSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVQAEOm+NPD5z+6E8Rnf7oPizY/1wSLD3c/5wONEAADp3ZPT3cnAw72+lPD5z/3T0/ig083ehPE5v+3D8BAjHd500/44oCMd3nTU/o/5wOMDE93ehPT+j/mww83d09PNvpTz9cDzzc3D01QDXc3DVA6upAT+joT07n504ATk7yjgKTAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+YDCAY5MzsEkB4AAAEMSURBVBjTY2CAAEZFJWUmBmTArKKqps6CLMaqoak1X1uHgQ0uwq6rp79gwUIDQw64EKeR8aIFCxaYmHJBBbjNzHksLBcvsLK2sbWzB5nH6+Do5Mzn4rrEzd3D08ubn4FBwMfXb6l/gGBgUHBI6LLlYeEMDBGRUQsWrIiOiY2LT1i5YMGqxCSG5JTVQJPXpKYJpWesXbBgXWYWA0N2zvoFuXn5BYXCRcUbNpaUAo0XKSuvqKyqrqmtE61vaGwSAwox2Te3tLa1b9rc0Sne1W0vAXGZZE/vlgULtvb1S8FdLz1h4rYFC7ZPmiwDF5JlmDJ1x85p0xnkECHBJD9j5qzZDCgBxjRn7rw5ChA2AOn+UDw/6GZQAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAzLTA4VDA2OjU3OjUxLTA1OjAwzvfIjQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMy0wOFQwNjo1Nzo1MS0wNTowML+qcDEAAAAASUVORK5CYII=);
}

.task_level .gantt_tree_icon.gantt_folder_closed, .task_level .gantt_tree_icon.gantt_folder_open, .task_level .gantt_tree_icon.gantt_file, .planning-task-affectation-participants .level_1 .picto-img {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA6lBMVEUAAADn6Oj///+EhITc3NyWlpbQ0NB+fn5mZmaXl5dPT0+TlJSTk5Nzc3NYWFiCgoK9vb1NTU2YmJitra3V1tbt7u5sbW0AAAAFBQWCgoL///9dXFxbXFwvLy8AAAACAgI6Ojp2d3f5+Pj///9PT08TExMfHx93d3eSk5MnJyc6OjqCgoKgoaEGBgZhYWGcnZ0SEhKjo6OHh4cgICAxMTFwcHA7OzsMDAwWFhZgYGAYGBg/Pz8iIiIeHh4REREmJSVaWlqTkpKgoKCSkpKrq6uRkZFMS0vZ29sAAAAAAAAdHR0cHBwAAAD////FJBtTAAAASHRSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAFEhMTEgUCbtva2ttuAgNu9PRuJuHaEnvgIHvtRCbh2hJu9PRuAm3i/u/bbgIEJ31QEQV9bfu2AAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+YDCAcAGnbw7/8AAAB8SURBVBjTY2CgNmAUFROXkJRiQogwS8vIyskrKCqxwERYlVVUPYBATV2ZDSrErqEJEvHw1NLmgApx6niBhTx09bigQtz63hAhA0MeqBCvkTFYxMfElA8qxK9sZg4SsrBUFoBZKWhlbWNrZ+/gKIRwmLCTs4urm7sI1cMAAJeFFABL6fYMAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAzLTA4VDA3OjAwOjI2LTA1OjAwT4iRpAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMy0wOFQwNzowMDoyNi0wNTowMD7VKRgAAAAASUVORK5CYII=);
}

.subtask_level .gantt_tree_icon.gantt_folder_closed, .subtask_level .gantt_tree_icon.gantt_folder_open, .subtask_level .gantt_tree_icon.gantt_file, .planning-task-affectation-participants .level_2 .picto-img {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABblBMVEX/25D//8+phmazjmVWTB4BAgAAAgEaSFOhyNvj///b/f2Q2//92Y7ZrG2Vxe5ks/3/+66g7v8AAABmtv//tmYAKIaKHwAHa7q5bQmPu+Hd///////hu6f//7ix///+2o///8PEmmfX//96x/7//3+kgF9bVSwCAwAAAwIoUVmbvdHQ////7JWviF5SUnKVsLYsMisrMiy2sJV9ZGRujLRwyP///8TBk2ZaXnZaour////uoVeFWlpahcHG///nq1FZlMrQqG5Rq+e8gFY5OlgNasLFcxZZOjlHgLzLo4ktOWYAbM7NaQBlOS1yo8u4ay9FPFA9hsnQmlJWPUUna7j41X5ThbqM/////6S/kmF91fj//97ZrHNwYV5SgaGi0///08Wgfk1YW29altno/////8PGmmNgUlV1hYQQExISExSDhIFyeIN3qtCR///FnGlSRRIAAQAOQU6n0ub///9vUElYUXCGXk5ZX4f///9kTJ44AAAAdXRSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADTZmLi5aTJCK+2bw6OrvxySEnxu9NAUvuxidVtLRVlfc0NPeV9/YnJ/b3bPpTU/psVMoFBcpUD5T6gyAhgPmUDwh7x+d0dOX+lQcnWlxYVg+EPULhAAAAAWJLR0QbAmDUpAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+YDDgguEcQSJ7oAAACcSURBVAjXY2BgZGJmYWVj5+Dk4mbg4VVRVVPX0NTS5uNnENDR1dM3MDQyNjEVZDAzt7C0EhKysraxtWOwL3WwEhYSErFyLHNicHZxFRUCAjE3dw8GTy9vcRBHwsfXj8E/IFAIDIKCQxhCy8PCJaWkZSIiK6IYomNi4+KFhBISk5JTGGRT09IzMrOyc3Lz5BjkFRTzCwoLi4pLlJQBTike0mgUqHgAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDMtMTRUMDg6NDY6MTIrMDA6MDBu/G8AAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAzLTE0VDA4OjQ2OjEyKzAwOjAwH6HXvAAAAABJRU5ErkJggg==);
}

.dropdown-affectation *{
    font-size: 14px;
    border-radius: 0;
}
.dropdown-affectation button[data-action="assignUsers"]{
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}
.dropdown-affectation button:hover {
    background-color: #e2e2e2;
}
.dropdown-affectation .dropdown-toggle:focus, .dropdown-affectation .dropdown-toggle:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 768px) {
    .salesforce-banner {
        margin-top: 30px;
        text-align: center;
    }
    .salesforce-banner__link {
        font-size: 16px;
    }
}

#planning-tasks-statuts > svg  {
    display: flex;
    justify-content: center;
    align-items: center;
}