{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}Vous avez été invité sur RDI-Manager en qualité d'administrateur {{ societe.raisonSociale }}{% endblock %}

{% block body %}
    <row>
        <columns>
            <p>
                <strong>Vous devez valider votre invitation afin d’être partie prenante {{ societe.raisonSociale }}.</strong>
            </p>

            <button
                href="{{ url('corp_app_fo_user_finalize_inscription', {'token': societeUser.invitationToken}) }}"
                class="large expanded"
            >Valider mon invitation</button>

            <p>
                Ceci vous permettra d’administrer la plateforme et de suivre l’avancement des différents projets {{ societe.raisonSociale }}.
            </p>

            {% include 'corp_app/mail/onboarding/_onboarding_signature.html.twig' %}
        </columns>
    </row>
{% endblock %}
