{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}Bravo ! L'aventure RDI-Manager est en marche pour vous avec {{ societe.raisonSociale }}{% endblock %}

{% block body %}
    <row>
        <columns>
            <p>
                <strong>Bravo ! Bravo ! L'aventure RDI-Manager est en marche pour vous avec {{ societe.raisonSociale }}.</strong>
            </p>

            <p>
                <strong>En qualité d’Utilisateur, vous devez être associé à au moins un projet</strong>
                avec un rôle bien défini sur chaque projet.
                Si cela traine à se faire, n’hésitez pas contacter votre administrateur RDI-Manager,
                ou votre Manager au sein de {{ societe.raisonSociale }}.
            </p>

            <p>Vous pourrez ainsi :</p>

            <ul>
                <li>Suivre et/ou participer à l’avancement de vos projets de manière pro-active</li>
                <li>Analyser en temps réel la répartition et la consommation des rescousses humaines sur vos projets</li>
                <li>Classer, partager, retrouver et même associer vos fichiers par projet avec des faits marquants</li>
                <li>Avoir une indication sur le potentiel d’innovation de vos projets (potentiel RDI).</li>
            </ul>

            <p>
                Profitez bien et n'hésitez pas à nous faire des feedbacks,
            </p>

            {% include 'corp_app/mail/onboarding/_onboarding_signature.html.twig' %}
        </columns>
    </row>
{% endblock %}
