{% extends 'base.html.twig' %}

{% block title %}Générer une feuille de temps | {{ parent() }}{% endblock %}

{% block body %}

<h1>Générer une feuille de temps</h1>

{{ form(form) }}

{% endblock %}
