{% extends 'base.html.twig' %}

{% block title %}Participants sur le projet {{ projet.titre }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <div class="projet-role-header">
            <p>Chef de projet</p>
            <p>Contributeur</p>
            <p>Observateur</p>
        </div>
    </div>
</div>

{{ form(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/projetParticipant.js') }}"></script>
{% endblock %}
