{% extends 'base.html.twig' %}

{% block title %}Participants sur le projet {{ projet.titre }}{% endblock %}

{% block body %}

<h1>Gestion des participants</h1>

<div class="row font-weight-bold">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <div class="d-flex justify-content-around">
            <p>Chef de projet</p>
            <p>Contributeur</p>
            <p>Observateur</p>
        </div>
    </div>
    <div class="col-sm-2 text-center">
        <p>Enlever</p>
    </div>
</div>

{{ form(form) }}

<button
    type="button"
    id="btn-ajouter-participant"
    class="btn btn-outline-primary"
    style="display: none"
>Ajouter un participant</button>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        const $participants = $('#liste_projet_participants_projetParticipants');

        EmbedForm.init($participants, {
            $addButton: $('#btn-ajouter-participant'),
        });

        $participants.on('click', '.embed-form-remove', function () {
            $(this).closest('.projet-participant-row').remove();
        });
    </script>
{% endblock %}
