{% extends 'base.html.twig' %}

{% block title %}Participants sur le projet {{ projet.titre }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <div class="projet-role-header">
            <p>Chef de projet</p>
            <p>Contributeur</p>
            <p>Observateur</p>
        </div>
    </div>
</div>

{{ form(form) }}

<button
    type="button"
    id="btn-ajouter-participant"
    class="btn btn-outline-primary"
    style="display: none"
>Ajouter un participant</button>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        EmbedForm.init($('#liste_projet_participants_projetParticipants'), {
            $addButton: $('#btn-ajouter-participant'),
        });
    </script>
{% endblock %}
