{% extends 'base.html.twig' %}

{% block title %}FRONT OFFICE - Ajouter un nouvel utilisateur{% endblock %}

{% block body %}
<style>
	#users div{margin-bottom: 30px; }
    .btn-success{color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }
	.form-group.row {justify-content: space-around; }
</style>

<div class="container">
	<div class="col-lg-6 mx-auto">

	{% block h1 %}
	    {% if titre is defined %}
	        <h1 class="text-center mt-4 mb-4" style="color: #ce352c;"> {{ titre }} </h1>
	    {% else %}
			<h1 class="text-center mt-4 mb-4" style="color: #ce352c;">Ajouter un nouvel utilisateur</h1>
		    <h4 class="mb-4">Saisir les informations</h4>    
		{% endif %}
	{% endblock h1 %}	

        {% for message in app.flashes('info') %}
			<div class="alert alert-success text-center">
				{{ message }}
			</div>
		{% endfor %}


		{{ form(form) }}		
		
	</div>
</div>

{% endblock %}
