{% extends 'bo/base.html.twig' %}

{% block body %}

<h1>Statistiques</h1>

<div class="row">
    <div class="col-lg-4 offset-lg-1">
        <div class="card rdi-card-icon text-center">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                        <h5 class="card-title">Nombre total d'utilisateurs</h5>
                        <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                        <p class="card-text display-4 mb-0">
                            {{ user|length }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1">
        <div class="card d-flex justify-content-center rdi-card-icon text-center">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                        <h5 class="card-title">Nombre total de projets</h5>
                        <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                        <p class="card-text display-4 mb-0">
                            {{ projet|length }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table mt-5">
    <thead>
        <tr>
            <th>Indice par mois</th>
            <th>Jan</th>
            <th>Fev</th>
            <th>Mars</th>
            <th>Avr</th>
            <th>Mai</th>
            <th>Juin</th>
            <th>Juil</th>
            <th>Aout</th>
            <th>Sept</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Déc</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                Utilisateurs créés
            </td>
            {% for userData in userCreatedAt %}
            <td>
                {{ userData }}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Projets créés
            </td>
            {% for projetData in projetCreatedAt %}
            <td>
                {{ projetData }}
            </td>
            {% endfor %}
        </tr>
    </tbody>

</table>

{% endblock %}