{% extends 'bo/base.html.twig' %}

{% block body %}

<h1>Statistiques</h1>


    <div class="card d-flex justify-content-center  rdi-card-icon text-center">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="card-body text-center">
            <div class="row">
                <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                    <h5 class="card-title">Nombre total d'utilisateurs</h5>
                    <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                    <p class="card-text display-4 mb-0">
                        {{ user|length }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card d-flex justify-content-center mt-5 rdi-card-icon text-center">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="card-body text-center">
            <div class="row">
                <div class="col-9 offset-3 col-sm-12 offset-sm-0">
                    <h5 class="card-title">Nombre total de projets</h5>
                    <h6 class="card-subtitle mb-2 text-muted">sur l'application RDI-Manager</h6>
                    <p class="card-text display-4 mb-0">
                        {{ projet|length }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Indice par mois</th>
                <th scope="col">Jan</th>
                <th scope="col">Fev</th>
                <th scope="col">Mars</th>
                <th scope="col">Avr</th>
                <th scope="col">Mai</th>
                <th scope="col">Juin</th>
                <th scope="col">Juil</th>
                <th scope="col">Aout</th>
                <th scope="col">Sept</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Déc</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">
                    Utilisateurs
                </td>
                {% for userData in userCreatedAt %}
                <td>
                    {{ userData }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    Projets
                </td>
                {% for projetData in projetCreatedAt %}
                <td>
                    {{ projetData }}
                </td>
                {% endfor %}
            </tr>
        </tbody>

    </table>

{% endblock %}