{% extends 'corp_app/register/layout.html.twig' %}

{% block register %}
    <h1 class="mb-3">{{ 'registration_finished'|trans }}</h1>

    <p class="lead">{{ 'your_rdi_manager_account_is_now_created'|trans }}</p>

    <a class="btn btn-lg btn-success" href="{{ path('app_home') }}">{{ 'go_to_my_dashboard'|trans }}</a>
{% endblock %}
