{% extends 'register/layout.html.twig' %}

{% block register %}
    <h1 class="mb-1">Mon compte RDI-Manager</h1>

    <p>
        Si êtes nouveau sur RDI-Manager ou que vous n'avez pas encore de compte,
        vous pouvez en créer un maintenant.
    </p>

    <a
        href="{{ path('app_register_account_creation') }}"
        class="btn btn-lg btn-success"
    >Créer mon compte RDI-Manager</a>

    <p class="mt-4">
        Si vous avez déjà un compte, vous pouvez lier votre nouvelle société à ce compte.
        Vous serez invité à vous connecter si vous ne l'êtes pas déjà.
    </p>

    <a
        href="{{ path('app_register_account_join') }}"
        class="mt-1 btn btn-outline-primary"
    >J'ai déjà un compte RDI-Manager</a>
{% endblock %}
