services:

    _defaults:
        autowire: true
        autoconfigure: true

    App\Listener\KernelExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: -100 }
