<row class="footer">
            <columns>
                <p class="text-center">
                    <small>© Copyright Eurêka C.I</small>
                </p>
                <center>
                    <img src="{{ email.image('@public' ~ asset('build/assets/img/logosignRDI.png')) }}" height="50" alt="Logo RDI manager">
                </center>
                <spacer size="8"></spacer>
            </columns>
</row>
