{% set cra = user.cras|filter(cra => cra.mois|format_date(pattern='yyyy-MM') == yearMonth)|first %}

{% if cra and cra.tempsPassesSubmitted %}
    <td class="table-success text-center">
        <span class="text-success" title="Validé le {{ cra.tempsPassesModifiedAt|format_date(pattern='d MMMM') }}">
            <i class="fa fa-check" aria-hidden="true"></i>
        </span>
    </td>
{% elseif (yearMonth ~ '-01')|date('Ym') < 'now'|date('Ym') %}
    <td class="table-danger text-center">
        <span class="text-danger" title="Pas encore validé">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </td>
{% else %}
    <td>
    </td>
{% endif %}
