.navbar-brand {
    position: relative;
}
.bo-title {
    position: absolute;
    right: 0;
    bottom: -1em;
    font-size: 0.6em;
    font-weight: bold;
}

.notification .card-body {
    overflow-y: scroll;
    max-height: 300px;
}

.notification .card-body::-webkit-scrollbar {
    width: 10px;
}

.notification .card-body::-webkit-scrollbar-thumb {
    background: #e62117;
    border-radius: 10px;
}
.notification .card-body::-webkit-scrollbar-track {
    border-radius: 10px;
}