#recents-projets,
.recent-activity {
  .card {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    ul {
      font-size: 0.8em;
    }

    .card-footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      padding: 0;
    }
  }
}

#parentContrib {
  max-height: 164px !important;

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .titleContrib{
    border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  #contentContrib {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;

    .legend {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1.5rem;

      width: 100%;
      height: 30%;

      strong {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
      }
    }

    .values {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70%;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &:first-child {
          margin-bottom: 0.8rem;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25%;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #parentContrib {
    max-height: none !important;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  

    .titleContrib{
      border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
      border-right: 0px !important;
      width: 100%;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
  
    #contentContrib {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      width: 100%;
      height: 100%;
      padding: 0 0 0 0;
  
      .legend {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0;
  
        width: 40%;
        height: 100%;
  
        strong {
          display: flex;
          justify-content: flex-start;
          height: 45px;
          width: 100%;
          font-size: 14px;
          }
      }
  
      .values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 100%;
  
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: space-between;
          width: 50%;
          
          &:first-child {
            margin-bottom: 0;
          }
  
          span {
            width: 100%;
            height: 45px;
          }
        }
      }
    }
  }
}

#mes-temps-rappel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

  .alert {
    padding: 0.3rem 1.25rem;
    display: inline-block;
    font-size: 0.95rem;
  }
}
.myContributions {
  .card {
    background: #fff;
    padding: 10px 10px;
    border-radius: 100px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    font-size: 0.9rem;

    @media (max-width: 1199px) {
      font-size: inherit;
    }
  }

  .round {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #F9C74F;
  }

  table {
    text-align: center;
    width: 100%;
  }
}
#projets-efficacite-moyenne {
  #efficacite-moyenne {
    margin-top: 30px;
  }
}
