.etude-banner{
    position: relative;
    padding-top: 2rem;
    margin: 2rem 0;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.etude-banner .btn-edit-banner{
    position: absolute;
    top: 10px;
    right: 1.5rem;
    overflow: hidden;
}
.etude-banner .etude-banner-text{
    display: inline-block;
    background-color: white;
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    max-width: 40%;
}
.etude-banner .etude-banner-background{
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 1rem;
    top: 0;
    width: 97%;
    height: 100%;
    border-radius: 0.25rem;
    z-index: -1;
}

#etude_timeline_dt{
    margin-left: -10px;
    margin-top: 0 !important;
    border-bottom: none !important;
}
#etude_timeline_dt thead{
    display: none !important;
}
#etude_timeline_dt tbody a{
    color: #007bff !important;
}
#etude_timeline_dt_filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
#etude_timeline_dt_filter label{
    margin-bottom: 0;
}
#etude_timeline_dt_filter label input{
    padding: 0 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    min-height: calc(1.5em + 1rem + 2px);
}
#etude_timeline_dt_filter label input::placeholder {
    font-size: 0.8rem;
}
#etude_timeline_dt_filter label input:focus {
    outline: none !important;
    border:1px solid #007BFF;
    box-shadow: 0 0 5px #719ECE;
}

#etude_timeline_dt .note-reading-content{
    border-left: 2px groove black;
    margin: 0.8rem 0.5rem;
    padding-left: 0.8rem;
}

#etude_timeline_dt .note-reading-content p{
    margin: 0.3rem;
    padding-top: 0 !important;
}

@media (max-width: 640px) {
    .add-etude p{
        padding-top: 0;
    }
}