#fait_marquant_timeline_dt{
    margin-left: -10px;
    margin-top: 0 !important;
    border-bottom: none !important;
}
#fait_marquant_timeline_dt thead{
    display: none !important;
}
#fait_marquant_timeline_dt_filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
#fait_marquant_timeline_dt_filter label{
    margin-bottom: 0;
}
#fait_marquant_timeline_dt_filter label input{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
#fait_marquant_timeline_dt_filter label input::placeholder {
    font-size: 0.8rem;
}
#fait_marquant_timeline_dt_filter label input:focus {
    outline: none !important;
    border:1px solid #007BFF;
    box-shadow: 0 0 5px #719ECE;
}