#fait_marquant_timeline_dt{
    margin-left: -10px;
    margin-top: 0 !important;
    border-bottom: none !important;
}
#fait_marquant_timeline_dt thead{
    display: none !important;
}
#fait_marquant_timeline_dt_filter{
    width: 100%;
    margin: 1rem 0 0.5rem;
}
#fait_marquant_timeline_dt_filter label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#fait_marquant_timeline_dt_filter label input{
    width: 100%;
}