footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0% !important;
    width: 100%;
    font-size: 0.85rem;
    color: white;
    padding: 0.75em 0;
    z-index: 9999;
}

footer .social-links a {
    margin: 0 0.25em;
}

footer > * {
    margin: 0 0.5em;
}

footer a {
    color: white;
}
footer a:hover {
    color: white;
}

.logofooter {
    max-height: 22px;
    border-radius: 10px;
}
