.showHiddenPassword-wrapper {
    position: relative;
}
.showHiddenPassword-wrapper .is-invalid {
    background-image: none!important;
    background-size: 0!important;
}

.showHiddenPassword-toggle {
    position: absolute;
    top: 50%;
    right: 0.8em;
    transform: translateY(-50%);
    cursor: pointer;
}