.user-notifications-list {
    .dropdown-menu {
        width: 280px;

        @media (min-width: 768px) {
            width: 400px;
        }

        &.dropdown-menu-right {
            left: 0;
            right: auto;

            @media (min-width: 992px) {
                left: auto;
                right: 0;
            }
        }

        .dropdown-header {
            text-transform: uppercase;
        }

        .rdi-dropdown-scroll {
            overflow-y: auto;
            max-height: 340px;
        }
    }

    .dropdown-toggle {
        &::after {
            display: none;
        }
    }

    .dropdown-item {
        white-space: normal;

        &:active {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
        }

        a {
            padding-left: 0;
        }
    }
}
