{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mes sociétés</h1>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('multisociete') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('multisociete') }}
{% endblock %}
