<ul class="list-group list-group-flush">
    {% for activity in activities %}
        <li class="list-group-item">
            {{ renderActivity(activity.activity) }}
            <small>
                <time class="text-muted float-right" datetime="{{ activity.activity.datetime|date('c') }}">
                    le {{ activity.activity.datetime|format_datetime }}
                </time>
            </small>
        </li>
    {% endfor %}
</ul>
