<footer>
    <div class="d-flex align-items-center">
        <p class="copyright  d-none d-md-table-cell">RDI manager ({{ shivas_app_version }})</p> 
        <p class"d-none d-md-table-cell" style="color: white; position: relative; top: 17%; left: 4%;"> &copy; Copyright Eurêka C.I</p>
    </div>
    <img class="logofooter" src="{{ asset('img/logosign.png') }}" alt="Eureka C.I">
        <p class="copyright"><a href="https://docs.google.com/spreadsheets/d/1wmHdoZbSmupwIlflmjEEvGqwQZsyPcGN/edit#gid=784961324">Feedback</a></p>
    
</footer>
