<footer>
    <p class="d-none d-md-inline">RDI-Manager <span class="text-monospace">{{ shivas_app_version }}</span></p>
    <p>&copy; Copyright Eurêka C.I</p>
    <img class="logofooter" src="{{ asset('img/logosign.png') }}" alt="Eureka C.I">
    <p>
        <a href="mailto:rdi-manager@eurekaci.com?subject=Feedbacks&body=Ecrivez ici vos retours et suggestions : " title="" >Vos remarques sont les bienvenues</a>
    </p>
</footer>
