<footer>
    <p class="d-none d-md-inline">RDI-Manager <span class="text-monospace">{{ shivas_app_version }}</span></p>
    <p>
        &copy;
        <span class="d-none d-md-inline">Copyright</span>
        <a href="https://eurekaci.com/" target="_blank">Eurêka C.I</a>
    </p>
    <img class="logofooter" src="{{ asset('build/assets/img/logosign.png') }}" alt="Eureka C.I">
    <p>
        <a href="mailto:rdcontact@rdimanager.com?subject=Feedbacks&body=Ecrivez+ici+vos+retours+et+suggestions+:">contact@rdimanager.com</a>
    </p>
    <p class="social-links d-none d-md-inline">
        <a href="{{ path('app_recommander') }}" title="Recommander RDI-Manager"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
        {# <a href="https://twitter.com/Eureka_Conseil" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> #}
        <a href="https://www.linkedin.com/company/rdi-manager/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        {# <a href="https://www.facebook.com/Eur%C3%AAka-CI-189756864906710/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> #}
    </p>
</footer>
