<footer>
    <p class="copyright">RDI manager ({{ shivas_app_version }}) &copy; Copyright Eurêka C.I</p>
    <img class="logofooter" src="{{ asset('img/logosign.png') }}" alt="Eureka C.I">
        <p class="copyright"><a href="https://docs.google.com/spreadsheets/d/1wmHdoZbSmupwIlflmjEEvGqwQZsyPcGN/edit#gid=784961324">Feedback</a></p>
    
</footer>
