{% extends 'base_html.html.twig' %}

{% block base_body %}
    {% include('_header.html.twig') %}

    {% if app.user %}
        {% include('_menu_horizontal.html.twig') %}
    {% endif %}

    <div class="container main-container">
        {% include '_flash_messages.html.twig' %}

        {% block body %}
        {% endblock %}
    </div>

    {% include('_footer.html.twig') %}
{% endblock %}
