<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{% block title %}RDI-Manager{% endblock %}</title>

        {% block meta %}
            <meta name="robots" content="noindex">
        {% endblock %}

		<link rel="icon" type="image/png" href="{{ asset('build/assets/img/logosign.png') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}
    </head>
    <body>
        {% block base_body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('base') }}
        {% endblock %}

        {% include '_matomo.html.twig' %}
    </body>
</html>
