<ul id="menu-demo2">
	<li><a href="fo-tableau-de-bord.php">Tableau de bord</a>	</li>
	<li><a href="">Mes Projets</a>
		<ul>
			<li><a href="fo-projet-01.php"  class="menu-icon">Liste des projets</a></li>
			<li><a href="fo-new-projet.php" class="menu-icon">Nouveau projet</a></li>	
			<!-- <li><a href="fo-projet-02.php">Détails du projet</a></li>
			<li><a href="fo-projet-03.php">Ajouter un fait marquant</a></li> -->
			
		</ul>
	</li>
	<li><a href="">Suivi temps</a>
		<ul>
			<li><a href="fo-temps-01.php">Feuille de temps</a></li>
			<li><a href="fo-absences.php">Mes absences</a></li>
		</ul>
	</li>
	<li><a href="">Administration</a>
		<ul>
			<li><a href="fo-admin-02.php">Liste des utilisateurs</a></li>
			<li><a href="fo-admin-03.php">Nouvel utilisateur</a></li>
			<li><a href="fo-admin-01.php">Mon compte</a></li>
		</ul>
	</li>
</ul>