{% set contentId = contentId|default("containerHtmlToPdf") %}

<div class="float-right">
    <a href="javascript:;" id="btnHtmlToPdf" class="btn btn-outline-primary rounded-circle"
       data-content-id="{{ contentId }}"
       title="Exporter la page"><i class="fa fa-download"></i></a>
</div>
