{% if projet.annualRdiScores | length > 0 %}
    {% set danger = true %}
    <span style="cursor: help;"
          title="{% for year, score in projet.annualRdiScores %} {% set danger = score < 0.5 %} {{ year }} : <strong>{{ score * 100 }}%</strong><br> {% endfor %}"
          class="badge badge-{{ projet.rdi ? 'success' : ( danger ? 'danger' : 'warning') }}">
            {{ projet.rdi ? 'Éligible RDI' : 'Éligibilité' }}
    </span>
{% else %}
    <span style="cursor: help;"
          title="Aucun domaine a été choisi pour le projet"
          class="badge badge-info">
            Éligibilité RDI (NA)
    </span>
{% endif %}