{% extends 'base.html.twig' %}

{% block title %}Edition du projet {{ projet.titre }} | {{ parent() }}{% endblock %}

{% block body %}

<h1>Edition du projet {{ projet.titre }}</h1>

{{ form(form) }}

{% endblock %}
