{% extends "base.html.twig" %}

{% block title %}   FRONT OFFICE - Liste des fichiers {% endblock %}

{% block body %}

<h1>Liste des fichiers</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="">Fichier</th>
            <th scope="col" class="">Uploader</th>
            <th scope="col" class="">Date</th>
            <th scope="col" class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for fichier in liste_fichiers %}
            <tr>
                <td class="text-center">Compte-Rendu-Essais.pdf</td>
                <td class="text-center">Uploader_User_Name</td>
                <td class="text-center">2020-08-02 15:36</td>
                <td class="text-center"><i class="fa fa-cloud-download" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center mx-auto">
    <button class="btn btn-success"href="">Ajouter un fichier <i class="fa fa-cloud-download" style="color: white;" aria-hidden="true"></i></button>
</div>

{% endblock %}