{% extends 'base.html.twig' %}

{% block title %} Ajouter un nouveau projet{% endblock %}

{% block body %}
<style>
	#users div{margin-bottom: 30px; }
    .btn-success{color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }
	.form-group.row {justify-content: space-around; }
	input#projet_form_projet_collaboratif {position: relative; left: -104.56%; }
	input#projet_form_projet_ppp {position: relative; left: -103.95%; }
	input#projet_form_projet_interne {position: relative; left: -104%; }
</style>

<h1>Ajouter un nouveau projet</h1>

{{ form(form) }}

{% endblock %}
