<div class="d-inline-block">
    <a id="reviewHelpText" href="#" class="text-light text-info mr-2 d-none"></a>
</div>

<ul class="navbar-nav mr-auto">
    <li class="nav-item {{ activeOn('lab_app_fo_multi_user_book_switch') }}">
        <a class="nav-link" href="{{ path('lab_app_fo_multi_user_book_switch') }}">
            <i class="fa fa-book" aria-hidden="true"></i> {{ 'my_user_books'|trans }}
        </a>
    </li>
</ul>
