<div class="row mt-4 mb-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                {{ form_start(formOnboardingNotificationEvery) }}
                {{ form_errors(formOnboardingNotificationEvery) }}

                {{ form_row(formOnboardingNotificationEvery.onboardingNotificationEvery) }}

                <button class="btn btn-primary" type="submit">Mettre à jour</button>

                {{ form_end(formOnboardingNotificationEvery) }}
            </div>
        </div>
    </div>
</div>