{% extends 'bo/base.html.twig' %}

{% block body %}

<h1>Créer une nouvelle société</h1>

<a class="d-block mb-4" href="{{ path('corp_app_bo_societes') }}">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    Annuler et retourner à la liste des sociétés
</a>

{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit" class="btn btn-success">Initialiser la société</button>

{{ form_end(form) }}

{% endblock %}
