{% extends "base.html.twig" %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    
<style>        
    a:hover {text-decoration: none;  }
    .form-control col-sm-3 {position: absolute;}
    .img_logo {position: absolute; left: 4%; top: 8%; }
    .img_logo img {height: 50px; }
    .title {position: relative; left: -2%; }
    /* .title {display: flex; justify-content: space-around; } */
    i {color: black; }
    .table thead th {background-color: #ce352c; color: white; }
    tr, td {background-color: #e6e6e6; }
    .btn-success {color: white; background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%); border: none; }
    .chart {display: flex; justify-content: space-between; }
    {# .bordure {border: 1px solid black; } #}
    {# #graph li
    {
       position:absolute;	
       list-style:none;
       background:lightblue;
       width:40px;
       text-align:center;
       border:1px solid black;
       visibility: hidden;
       background-image:url(bar-shaded.png);
       background-repeat:repeat-y;
    } #}
</style>


<div class="d-flex justify-content-center">
    <h1>Projets de l'année</h1>
</div>
<div class="col-md-2 lg-2 mx-auto mb-5">
    <select name="select" class="form-control" id="dropdownYear" onchange="getProjectReportFunc()"></select>
</div>               

<div class="button text-center mb-5">
    <a href={{ path ('temps_') }}><input type="button" class="btn btn-success" value="Mettre à jour votre feuille de temps"></a>
</div>

<section style="min-height: 10vh;">
    <div class="row">
        <div class="col-md-4 bordure">
            <h4 class="text-center">Heures travaillées par année sur un projet</h4>
            <div id="columnchart_values" class="col-md-2" style="width: 100%; height: 400px; margin-top: 5%;"></div>
        </div>
        <div class="col-md-4 bordure">
            <h4 class="text-center">Projets réalisés en 2017</h4>
            <div id="piechart_3d" style="width: 130%; height: 400px; margin-right: 70%;"></div>    
        </div>
        <div class="col-md-4 bordure">
            <h4 class="text-center">Projets des trois dernières années</h4>
            <div id="myDiv"  style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    {# <div class="chart mt-5">
        <div id="piechart_3d" class="text-center mx-auto" style="width: 4000%; height: 400px;"></div>
        <div id="myDiv" class="text-center mx-auto"   style="width: 4000%; height: 400px;">Projets des trois dernières années</div>
    </div>             #}
    <table class="table table-bordered mx-auto m-5"  style="max-width: 67.9%;">
        <thead>
            <tr class="table table-secondary">
                <th scope="col">TABLEAU DE BORD</th>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Équipe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nombre de projets de l'année en cours</th>
                <td class="text-center">0</td>
                <td class="text-center">0</td>
            </tr>
            <tr>
                <th scope="row">Nombre de projets de type CIR-CII</th>
                <td class="text-center">0</td>
                <td class="text-center">0</td>
            </tr>
            <tr>
                <th scope="row">Temps total passé en  heures</th>
                <td class="text-center">0</td>
                <td class="text-center">0</td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}

{% block javascripts %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Statuts', 'Speakers (in pourcents)'],
        ['En cours',85], ['Terminé', 15], ['Suspendu', 4],
        ]);
        var options = {
        is3D: true,
        //   legend: 'none',
        pieSliceText: 'label',
        slices: { 4: {offset: 0.9}, 12: {offset: 0.3}, 14: {offset: 0.4}, 15: {offset: 0.5},},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }

    var x = ["2015","2015","2016","2016", "2017"]
    var y = ["1","1","3","10","23"]

    var data = [
        {
        histfunc: "RDI",
        y: y,
        x: x,
        type: "histogram",
        name: "RDI"
        },
        {
        histfunc: "Non RDI",
        y: y,
        x: x,
        type: "histogram",
        name: "Non RDI"
        }
    ]

    Plotly.newPlot('myDiv', data)


    {# var x = ["P1, P2, P3, P4"]
    var y = ["300", "100", "150"]

    var data = [
        {
        histfunc: "Projet",
        y: y,
        x: x,
        type: "histogram",
        name: "RDI"
        },
    ]

    Plotly.newPlot('myDiv2', data) #}


    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart2() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["P1", 8.94, "#b87333"],
        ["P2", 10.49, "silver"],
        ["P3", 19.30, "gold"],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        
        width: 300,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
    }   



    $('#dropdownYear').each(function() {

        var year = (new Date()).getFullYear();
        var current = year;
        // year += 4;
        for (var i = 0; i < 5; i++) {
            if ((year+i) == current)
            $(this).append('<option selected value="' + (year - i) + '">' + (year - i) + '</option>');
            else
            $(this).append('<option value="' + (year - i) + '">' + (year - i) + '</option>');
        }
    })
</script>
{% endblock %}
