{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}Inscription sur RDI-Manager{% endblock %}
{% block body %}
    <row>
        <columns>
            <p>
                {% apply nl2br %}
                    {% include 'mail/register-verification-code.txt.twig' %}
                {% endapply %}
            </p>
        </columns>
    </row>
{% endblock %}