{% apply inky_to_html|inline_css(source('@public' ~ asset('build/foundation.css'))) %}
<wrapper>
    <container>
        <row>
            <columns>
                <spacer size="8"></spacer>
                <h1 class="text-center">Réinitialisation de votre mot de passe RDI-Manager</h1>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    Vous avez demandé un lien de réinitialisation de votre mot de passe.
                </p>
                <p>
                    Suivez ce lien pour définir votre nouveau mot de passe :
                    <button href="{{ resetPasswordLink }}" class="large expanded">Définir mon nouveau mot de passe</button>
                </p>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <p class="text-center">
                    <small>© Copyright Eurêka C.I</small>
                </p>
                <center>
                    <img src="{{ email.image('@public' ~ asset('build/assets/img/logosign.png')) }}" width="26" height="26" alt="Logo Eureka C.I">
                </center>
                <spacer size="8"></spacer>
            </columns>
        </row>
    </container>
</wrapper>
{% endapply %}
