{% extends 'mail/layouts/base_mail.html.twig' %}

{% block title %}Email de test envoyé depuis RDI-Manager{% endblock %}
{% block body %}
    <row>
        <columns>
            <p>
                Ceci est un email de test envoyé depuis RDI-Manager.
                Si vous le recevez, le serveur est bien configuré pour envoyer les emails RDI-Manager.
            </p>
            <p>
                Url absolue de RDI-Manager : <a href="{{ url('app_home') }}">{{ url('app_home') }}</a>
            </p>
        </columns>
    </row>
{% endblock %}
